/* GLOBAL STYLES */
:root {
    --blush: #fff5f5;
    --salmon: #ff9c72;
    --orange: #e86c36;
    --light-green: #338463;
    --dark-green: #285b53;
    --black: #25201f;
}

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--blush);
    position: absolute;
    /* left: 160px; */
    /* right: 0; */
}

html,
body {
    background-color: var(--blush) !important;
    height: 100vh;
    right: 0;
}

/* HEADER */
.logoSize {
    height: 200px;
    width: 400px;
}